<app-navbar></app-navbar>
<br>
<marquee onmouseover="this.stop();" onmouseout="this.start();">
   Incase of any payment failures or technical issues please contact Technical Team - Phone Number : 9848166283
</marquee>
<br>
<h3 style="text-align: center">Please fill this form regarding any payment related issues <b> <a href="https://docs.google.com/forms/d/e/1FAIpQLSdQLgCCPfYfTAdnjlTW7w7vOiSNuS1JbF9hBUl-lhpBqaynxA/viewform" target="__blank">Click here</a></b> </h3>
<div class="details">
  <mat-list>
    <div mat-subheader>Your Details</div>
    <mat-list-item>
      <mat-icon mat-list-icon>face</mat-icon>
      <div mat-line>Name : {{userDetails.user.name}} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>verified_user</mat-icon>
      <div mat-line>Samyak Id : {{userDetails.user.samyak_id}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>mail</mat-icon>
      <div mat-line>Email : {{userDetails.user.email}} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>school</mat-icon>
      <div mat-line>College : {{userDetails.user.college}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>tag</mat-icon>
      <div mat-line>College Id : {{userDetails.user.college_id}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>code</mat-icon>
      <div mat-line>Branch : {{userDetails.user.branch}} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>today</mat-icon>
      <div mat-line>Current Year : {{userDetails.user.current_year}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>settings_phone</mat-icon>
      <div mat-line>Mobile : {{userDetails.user.mobile}}</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>payment</mat-icon>
      <div mat-line *ngIf="userDetails.payment; else notpaid">Payment status : Paid</div>
      <ng-template #notpaid>
      <div mat-line>Payment status : <b>Not Paid</b></div>
      </ng-template>
    </mat-list-item>
  </mat-list>


</div>
<!-- News Section -->
   <section class="news-section" *ngIf="!noconent; else second_template">
       <div class="anim-icons">
           <span class="icon icon-circle-blue wow fadeIn"></span>
           <span class="icon twist-line-1 wow zoomIn"></span>
           <span class="icon twist-line-2 wow zoomIn"></span>
           <span class="icon twist-line-3 wow zoomIn"></span>
       </div>
       <div class="auto-container">
           <!-- <div class="sec-title text-center">
               <span class="title">Blogs</span>
               <h2>Latest News</h2>
           </div> -->

           <div class="row">
               <!-- News Block Three -->
               <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInRight" *ngFor="let item of myEvents">
                   <div class="inner-box">
                       <div class="image-box" *ngIf="item.image; else noimg">
                           <figure class="image"><a><img [src]="item.image" alt=""></a></figure>
                       </div>
                       <ng-template #noimg>
                         <div class="image-box">
                             <figure class="image"><a><img src="../../../assets/ui-images/defaulteve.jpg" alt=""></a></figure>
                         </div>
                       </ng-template>
                       <div class="lower-content">
                           <ul class="post-info">
                               <li><span class="far fa-user"></span>Samyak 2021</li>
                           </ul>
                           <h4><a href="blog-single.html">{{item.name}}</a></h4> <!--<a  class="read-more" (click)="moreInfo(item)">Read More</a> &nbsp;&nbsp; -->
                           <div class="btn-box"><a  class="read-more" (click)="viewSlots(item)">View Slots</a> &nbsp;&nbsp;
                             <a  class="read-more" (click)="undo(item)">UnRegister</a>
                            </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <!--End News Section -->
   <ng-template #second_template>
       <br>
       <br>
       <div class="second_template">
           Welcome to your samyak account

           Your registered events will displayed here ...
       </div>
   </ng-template>
