
<div class="page-wrapper">
<section class="newsletter-section">
        <div class="anim-icons full-width">
            <span class="icon icon-shape-3 wow fadeIn"></span>
            <span class="icon icon-line-1 wow fadeIn"></span>
        </div>
        <div class="auto-container">
            <!--Subscribe Form-->
            <div class="subscribe-form wow fadeInUp" data-wow-delay="500ms">
                <div class="envelope-image"></div>
                <div class="form-inner">
                    <div class="upper-box">
                        <div class="sec-title text-center">
                          <br>
                            <h2>{{status}}</h2>
                            <div class="text">Samyak 2020 <br></div> <br>
                            <button type="submit" class="theme-btn btn-style-three" routerLink="/" style="cursor: pointer;" *ngIf="msg"><span class="btn-title">Back to home page</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Newsletter Section -->
</div>
