    <section class="page-title" style="background-image:url(https://expert-themes.com/html/eventrox/images/background/5.jpg);">
      <div class="auto-container">
        <h1>About Us</h1>
        <!-- <ul class="bread-crumb clearfix">
          <li><a routerLink="/">Home</a></li>
          <li>About Us</li>
        </ul> -->
      </div>
    </section>
    <div class="image-box">
      <figure class="image wow fadeIn"><img src="../../../assets/images/LEDScreenWebsite.jpg" alt=""></figure>
  </div>
    <!-- <section class="page-title" style="background-image:url(../../../assets/images/LEDScreenWebsite.jpg);background-size: cover;width:100%;height: 95vh;overflow: hidden;">
      <div class="auto-container">
      </div>
    </section> -->
