<span class="header-span"></span>

<!-- Main Header-->
<header class="main-header header-style-two">
  <div class="main-box">
    <div class="auto-container clearfix">
      <div class="logo-box">
        <div class="logo"><a><img src="https://klsamyak.in/images/samyak2.png" alt="" title="" height="50" width="50"></a></div>
      </div>

      <!--Nav Box-->
      <div class="nav-outer clearfix">
        <!--Mobile Navigation Toggler-->
        <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
        <!-- Main Menu -->
        <nav class="main-menu navbar-expand-md navbar-light">
          <div class="navbar-header">
            <!-- Togg le Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon flaticon-menu-button"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
            <ul class="navigation clearfix">
              <li class="dropdown"><a>Home</a></li>
              <li class="dropdown"><a>About</a></li>
              <li class="dropdown"><a>Events</a>
                <ul>
                  <li class="dropdown"><a>Departmental</a>
                    <ul>
                      <li><a>Dept One </a></li>
                      <li><a>Dept Two </a></li>
                      <li><a>Dept Three </a></li>
                    </ul>
                  </li>
                  <li><a>Type One</a></li>
                  <li><a>Type Two</a></li>
                </ul>
              </li>
              <li><a>Tech Talks</a></li>
              <li><a>Team</a></li>
              <li class="dropdown"><a>My Account</a>
                <ul>
                  <li><a>Registered Events</a></li>
                  <li><a>Certifications</a></li>
                  <li><a>Reset Password</a></li>
                  <li><a>Log Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <!-- Main Menu End-->
      </div>
    </div>
  </div>
</header>
<!--End Main Header -->
