<span class="header-span"></span>

<!-- Main Header-->
<header class="main-header header-style-two" id="desktop-nav">
  <div class="main-box">
    <div class="auto-container clearfix">
      <div class="logo-box">
        <!-- <div class="logo"><a routerLink="/"><img src="../../../assets/images/main-logo2.png" alt="" title="" height="230" width="230"></a></div> -->
        <div class="logo"><a routerLink="/"><img src="../../../assets/images/kl&klh-black.png" alt="" title="" height="200" width="200"></a></div>
      </div>
      <div class="logo-box">
        <div class="logo"><a routerLink="/"><img src="../../../assets/images/NAAC A++ Logo.jpg" alt="" title="" height="230" width="60"></a></div>
      </div>
      <div class="logo-box">
        <div class="logo"><a routerLink="/"><img src="../../../assets/images/Category 1 Logo.jpg" alt="" title="" height="230" width="60"></a></div>
      </div>
      <div class="logo-box">
        <div class="logo3"><a routerLink="/"><img src="../../../assets/images/NIRF202041.png" alt="" title="" height="200" width="60"></a></div>
      </div>
      <div class="logo-box">
        <div class="logo4"><a routerLink="/"><img src="../../../assets/images/TOI2Rank.png" alt="" title="" height="200" width="60"></a></div>
      </div>
      <!--Nav Box-->
      <div class="nav-outer clearfix">
        <!--Mobile Navigation Toggler-->
        <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
        <!-- Main Menu -->
        <nav class="main-menu navbar-expand-md navbar-light" id="desktop-nav">
            <div class="navbar-header">
                <!-- Togg le Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon flaticon-menu-button"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                <ul class="navigation clearfix">
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/about-samyak">About</a></li>
                    <li class="dropdown"><a>Events</a>
                        <ul>
                            <li class="dropdown" *ngFor="let item of navbarEvents">
                              <a (click)="toEvent(item.type , 'all')">{{item.type}}</a>
                                <ul *ngIf="item.departments">
                                    <li *ngFor="let dep of item.departments"><a (click)="toEvent(item.type , dep.name)">{{dep.name}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- <li><a routerLink="/techtalks">Tech Talks</a></li> -->
                    <!-- <li><a routerLink="/samyak-team">Team</a></li> -->
                    <li><a routerLink="/my-account" *ngIf="isLoggedIn">My Account</a></li>
                </ul>
            </div>
        </nav>
        <!-- Main Menu End-->
        <div class="outer-box" *ngIf="!isLoading;else spin" id="desktop-nav">
            <div class="btn-box" routerLink="/login" *ngIf="!isLoggedIn">
                <a class="theme-btn btn-style-one login" style="color: #fff"><span class="btn-title">Login / Sign up</span></a>
            </div>

            <div class="btn-box" *ngIf="isLoggedIn">
                <a class="theme-btn btn-style-one login" style="color: #fff"><span class="btn-title" (click)="logout()">Logout</span></a>
            </div>

        </div>
        <ng-template #spin>
          <div class="outer-box">
            <div class="btn-box">
                <a class="theme-btn btn-style-one login"><span class="btn-title"><mat-spinner class="spinner" color="accent" [diameter]="25"></mat-spinner></span></a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</header>
<!--End Main Header -->



<!--mobile view-->
<header class="main-header  alternate-two" style="position: fixed;background-color: black;">
  <div class="logo-box desktop-nav-view nav-img">
      <div class="logo"><a><img src="../../../assets/images/kl&klh-white.png" alt="" title="" height="230" width="230"></a></div>
  </div>

  <div style="z-index:1;" class="desktop-nav-view">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>

      <ul class="ul">
        <li class="li"><label for="check" routerLink="/"><a>Home</a></label></li>
        <li class="li"><a routerLink="/about-samyak">About</a></li>
        <li class="li"><a (click)="listEvents()">Events</a></li>
        <li class="li"><a routerLink="/techtalks">Tech Talks</a></li>
        <li class="li"><a routerLink="/my-account" *ngIf="isLoggedIn">My Account</a></li>

        <div class="" *ngIf="!isLoading;else spin">
          <button mat-flat-button color="primary"  routerLink="/login" *ngIf="!isLoggedIn">Login / Register</button>

          <button mat-flat-button color="primary" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
        </div>
        <ng-template #spin>
          <div class="outer-box">
            <div class="btn-box">
                <a class="theme-btn btn-style-one login"><span class="btn-title"><mat-spinner class="spinner" color="accent" [diameter]="25"></mat-spinner></span></a>
            </div>
          </div>
        </ng-template>
      </ul>

  </div>


</header>
<!--mobile view-->
