<body class="login-page">
  <main class="main_class">
    <form class="sign-in example-form" [formGroup]="resetPassword" novalidate>
      <div class="login-block">
        <img [src]="logo" alt="" height="80" width="80">
        <h1 class="login_title">Reset Password</h1>
        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput id="password" formControlName="password" [type]="hide ? 'password':'text'" />
          <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;color: #092041 !important;">
            {{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
          <mat-error *ngIf="resetPassword.controls.password.hasError('required') && !resetPassword.controls.password.valid">
            Password is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput id="confirmpassword"  formControlName="confirmpassword" [type]="hide1 ? 'password':'text'" />
          <mat-icon matSuffix (click)="hide1 = !hide" style="cursor: pointer;color: #092041 !important;">
            {{hide1 ? 'visibility' : 'visibility_off'}}
          </mat-icon>
          <mat-error *ngIf="!resetPassword.controls.confirmpassword.hasError('passwordValidation') && !resetPassword.controls.confirmpassword.hasError('required')">
            Passwords Mis-Match
          </mat-error>
          <mat-error *ngIf="resetPassword.controls.confirmpassword.hasError('required') && !resetPassword.controls.password.hasError('required')">
            Retype Password
          </mat-error>
        </mat-form-field>
          <button mat-raised-button color="primary" class="mat-raised-button mat-primary submit" [disabled]="!resetPassword.valid" type="submit" (click)="submit()">Reset Password</button>
          <div class="links_section">
            <span class="new_acc" routerLink="/login">
              Back to login
            </span>
            <span class="forgot_password" routerLink="/register">
              Create an account
            </span>
          </div>
      </div>
    </form>
  </main>
</body>
