<footer class="main-footer style-three">
       <div class="anim-icons full-width">
           <span class="icon icon-circle-blue wow fadeIn"></span>
           <span class="icon icon-dots wow fadeInleft"></span>
           <span class="icon icon-circle-1 wow zoomIn"></span>
       </div>

       <div class="auto-container">
           <!-- Footer Content -->
           <div class="footer-content">
               <div class="footer-logo"><a href="#"><img src="images/logo-2.png" alt=""></a></div>
               <ul class="footer-nav">
                   <li><a href="#">Home</a></li>
                   <li><a href="#">About Us</a></li>
                   <li><a href="#">Services</a></li>
                   <li><a href="#">Projects</a></li>
                   <li><a href="#">Contact Us</a></li>
               </ul>
               <div class="copyright-text">© Copyright 2020 All Rights Reserved by <a href="index.html">Expert-Themes</a></div>
               <ul class="social-icon-one">
                   <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                   <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                   <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                   <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
               </ul>
           </div>
       </div>
   </footer>
