<!-- Subscribe Section -->
<section class="subscribe-section">
    <div class="auto-container">
        <div class="content-box">
            <div class="row">
                <div class="title-column col-lg-6 col-md-12">
                    <div class="sec-title">
                        <span class="icon fa fa-calendar"></span>
                        <h2>Register now for <br> Samyak 2021</h2>
                    </div>
                </div>

                <div class="form-column col-lg-6 col-md-12">
                    <!--Newsletter Form-->
                    <div class="newsletter-form" style="float: right;margin-top: 2%;">
                                <button type="submit" class="theme-btn btn-style-three" routerLink="/validate-user" style="cursor: pointer;"><span class="btn-title">Register now</span></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Subscribe Section -->

<!-- Main Footer -->
<footer class="main-footer style-two">
    <div class="auto-container">
        <!-- Footer Content -->
        <div class="footer-content">
            <div class="footer-logo"><a routerLink="/"><img src="images/logo.png" alt=""></a></div>
            <ul class="footer-nav">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about-samyak">About Us</a></li>
                <li><a routerLink="/techtalks">Tech Talks</a></li>
                <!-- <li><a routerLink="/samyak-team">Team</a></li> -->
                <!-- <li><a routerLink="/">Contact Us</a></li> -->
            </ul>
            <div class="copyright-text">© Copyright 2021 All Rights Reserved by Samyak KLEF</div>
            <ul class="social-icon-one">
                <li *ngFor="let item of socialMedia">
                    <a (click)="toSocialMedia(item)">
                        <span [class]="item.icon"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- End Footer -->
