<!-- Subscribe Section -->
<section class="subscribe-section">
    <div class="auto-container">
        <div class="content-box">
            <div class="row">
                <div class="title-column col-lg-6 col-md-12">
                    <div class="sec-title">
                        <span class="icon fa fa-envelope"></span>
                        <h2>Subscribe our <br>newslatter</h2>
                    </div>
                </div>

                <div class="form-column col-lg-6 col-md-12">
                    <!--Newsletter Form-->
                    <div class="newsletter-form">
                        <form method="post" action="blog.html">
                            <div class="form-group">
                                <input type="email" name="field-name" value="" placeholder="Enter Your Email" required>
                                <button type="submit" class="theme-btn btn-style-three"><span class="btn-title">Subscribe</span></button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Subscribe Section -->

<!-- Main Footer -->
<footer class="main-footer style-two">
    <div class="auto-container">
        <!-- Footer Content -->
        <div class="footer-content">
            <div class="footer-logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
            <ul class="footer-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <div class="copyright-text">© Copyright 2019 All Rights Reserved by <a href="index.html">Expert-Themes</a></div>
            <ul class="social-icon-one">
                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- End Footer -->
