<div class="page-wrapper">

  <!-- Main Header-->
    <header class="main-header header-style-two alternate-two">
		<!-- Header Top Two -->
    	<div class="header-top-two">
        	<div class="auto-container">
            	<div class="clearfix">

                    <!--Top Left-->
                    <div class="top-left clearfix">
                    	<ul class="links clearfix">
                        	<li><a href="#"><span class="icon fa fa-phone"></span>Call : {{phoneNumber}}</a></li>
                          <li><a href="#"><span class="icon fa fa-envelope"></span>{{emialId}}</a></li>
                        </ul>
                    </div>

                    <!--Top Right-->
                    <div class="top-right clearfix">
                    	<ul class="social-icons">
                            <li *ngFor="let item of socialMedia">
                                  <a>
                                <span [class]="item.icon"></span>
                                 </a>
                            </li>
                      </ul>

                    </div>

                </div>

            </div>
        </div>
        <!-- Header Top End -->

        <div class="main-box">
            <div class="auto-container clearfix">
                <div class="logo-box">
                    <div class="logo"><a><img [src]="samyakLogo" alt="" title="" height="60" width="60"></a></div>
                </div>

                <!--Nav Box-->
                <div class="nav-outer clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="navbar-header">
                            <!-- Togg le Button -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon flaticon-menu-button"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">

                                <li><a>Home</a></li>
                                <li class="dropdown"><a>About</a>
                                    <ul>
                                        <li><a>Samyak</a></li>
                                        <li><a>Theme</a></li>
                                    </ul>
                                </li>
                                <li><a>Schedule</a></li>
                                <li class="dropdown"><a>Events</a>
                                    <ul>
                                        <li class="dropdown"><a>Departmental</a>
                                            <ul>
                                                <li><a>Dept One </a></li>
                                                <li><a>Dept Two </a></li>
                                                <li><a>Dept Three </a></li>
                                            </ul>
                                        </li>
                                    <li><a>Type One</a></li>
                                    <li><a>Type Two</a></li>
                                    </ul>
                                </li>
                                <li><a>Tech Talks</a></li>
                                <li class="dropdown"><a>My Account</a>
                                  <ul>
                                    <li><a>Payments</a></li>
                                    <li><a>Registered Events</a></li>
                                    <li><a>Certifications</a></li>
                                  </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <!-- Outer box -->
                    <div class="outer-box">
                        <div class="btn-box" routerLink="/login">
                            <a class="theme-btn btn-style-one login" style="color: #fff"><span class="btn-title">Register or Login</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>

            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img [src]="samyakLogo" alt="" title=""></a></div>

                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
            </nav>
        </div><!-- End Mobile Menu -->


    </header>
    <!--End Main Header -->
    <!-- Banner Conference Two -->
    <section class="banner-conference-two" style="background-image: url(../../../assets/images/banner2.jpg);background-repeat: no-repeat;background-size: cover;background-position: right">
        <!-- Icons -->
		<div class="icons parallax-scene-1">
			<!-- Icon One -->
			<div data-depth="0.20" class="icon-one parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-1.png)"></div>
			<!-- Icon Two -->
			<div data-depth="0.50" class="icon-two parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-2.png)"></div>
			<!-- Icon Three -->
			<div data-depth="0.10" class="icon-three parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-3.png)"></div>
			<!-- Icon Four -->
			<div data-depth="0.30" class="icon-four parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-4.png)"></div>
			<!-- Icon Five -->
			<div data-depth="0.10" class="icon-five parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-5.png)"></div>
			<!-- Icon Six -->
			<div data-depth="0.20" class="icon-six parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-6.png)"></div>
			<!-- Icon Seven -->
			<div data-depth="0.10" class="icon-seven parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-7.png)"></div>
			<!-- Icon One -->
			<div data-depth="0.20" class="icon-eight parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-1.png)"></div>
			<!-- Icon Two -->
			<div data-depth="0.50" class="icon-nine parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-8.png)"></div>
			<!-- Icon Three -->
			<div data-depth="0.10" class="icon-ten parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-3.png)"></div>
			<!-- Icon Four -->
			<div data-depth="0.30" class="icon-eleven parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-4.png)"></div>
			<!-- Icon Five -->
			<div data-depth="0.10" class="icon-twelve parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-5.png)"></div>
			<!-- Icon Six -->
			<div data-depth="0.20" class="icon-thirteen parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-6.png)"></div>
			<!-- Icon Seven -->
			<div data-depth="0.10" class="icon-fourteen parallax-layer" style="background-image:url(https://expert-themes.com/html/eventrox/images/icons/icon-7.png)"></div>
		</div>
		<div class="images-outer">
            <figure class="speaker-img"><img src="" alt=""></figure>
        </div>

        <div class="auto-container">
            <div class="content-box">
                <span class="title">1st to 10 March 2020, Gold-Land Hotel, Canada</span>
                <h2>KL<br>Samyak 2020</h2>
                <div class="time-counter">
                  <div class="time-countdown clearfix" data-countdown="12/4/2020">
                    <div class="counter-column">
                      <span class="count">25</span>Days</div>
                      <div class="counter-column"><span class="count">45</span>Hours</div>
                      <div class="counter-column"><span class="count">12</span>Minutes</div>
                      <div class="counter-column"><span class="count">53</span>Second</div>
                  </div>
                </div>
                <div class="btn-box"><a href="buy-ticket.html" class="theme-btn btn-style-two"><span class="btn-title">Booking Now</span></a></div>
            </div>
        </div>
    </section>
    <app-about></app-about>
    <app-samyak-theme></app-samyak-theme>
    <app-samyak-sponsors></app-samyak-sponsors>
    <app-samyak-contact></app-samyak-contact>
    <app-footer></app-footer>
</div>
