<div class="page-wrapper">

    <header class="main-header header-style-two alternate-two" id="desktop-nav">
    	<div class="header-top-two">
        	<div class="auto-container">
            	<div class="clearfix">
                    <!--Top Left-->
                    <div class="top-left clearfix">
                    	<ul class="links clearfix">
                        	<li><a><span class="icon fa fa-phone"></span>Call : {{phoneNumber}}</a></li>
                          <li><a><span class="icon fa fa-envelope"></span>{{emailId}}</a></li>
                        </ul>
                    </div>
                    <!--Top Right-->
                    <div class="top-right clearfix">
                    	<ul class="social-icons">
                            <li *ngFor="let item of socialMedia">
                                <a (click)="toSocialMedia(item)">
                                  <span [class]="item.icon"></span>
                                </a>
                            </li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-box">
            <div class="auto-container clearfix">
                <div class="logo-box">
                    <div class="logo"><a><img [src]="samyakLogo" alt="" title="" height="230" width="250"></a></div>

                </div>

                <!--Nav Box-->
                <div class="nav-outer clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light" id="desktop-nav">
                        <div class="navbar-header">
                            <!-- Togg le Button -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon flaticon-menu-button"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li><a routerLink="/">Home</a></li>
                                <li><a routerLink="/about-samyak">About</a></li>
                                <li class="dropdown"><a>Events</a>
                                    <ul>
                                        <li class="dropdown" *ngFor="let item of navbarEvents">
                                          <a (click)="toEvent(item.type , 'all')">{{item.type}}</a>
                                            <ul *ngIf="item.departments">
                                                <li *ngFor="let dep of item.departments"><a (click)="toEvent(item.type , dep.name)">{{dep.name}}</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a routerLink="/techtalks">Tech Talks</a></li>
                                <!-- <li><a routerLink="/samyak-team">Team</a></li> -->
                                <li><a routerLink="/my-account" *ngIf="isLoggedIn">My Account</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                    <!-- Outer box -->
                    <div class="outer-box" *ngIf="!isLoading;else spin" id="desktop-nav">
                        <div class="btn-box" routerLink="/login" *ngIf="!isLoggedIn">
                            <a class="theme-btn btn-style-one login" style="color: #fff"><span class="btn-title">Login / Register</span></a>
                        </div>

                        <div class="btn-box" *ngIf="isLoggedIn">
                            <a class="theme-btn btn-style-one login" style="color: #fff"><span class="btn-title" (click)="logout()">Logout</span></a>
                        </div>

                    </div>
                    <ng-template #spin>
                      <div class="outer-box">
                        <div class="btn-box">
                            <a class="theme-btn btn-style-one login"><span class="btn-title"><mat-spinner class="spinner" color="accent" [diameter]="25"></mat-spinner></span></a>
                        </div>
                      </div>
                    </ng-template>
                </div>
            </div>
        </div>



    </header>

    <!--mobile view-->
    <header class="main-header  alternate-two" style="position: fixed;background-color: black;">
      <div class="logo-box desktop-nav-view nav-img">
          <div class="logo"><a><img [src]="samyakLogo" alt="" title="" height="230" width="230"></a></div>
      </div>

      <div style="z-index:1;" class="desktop-nav-view">
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
          </label>

          <ul class="ul">
            <li class="li"><label for="check" routerLink="/"><a>Home</a></label></li>
            <li class="li"><a routerLink="/about-samyak">About</a></li>
            <li class="li"><a (click)="listEvents()">Events</a></li>
            <li class="li"><a routerLink="/techtalks">Tech Talks</a></li>
            <li class="li"><a routerLink="/my-account" *ngIf="isLoggedIn">My Account</a></li>

            <div class="" *ngIf="!isLoading;else spin">
              <button mat-flat-button color="primary"  routerLink="/login" *ngIf="!isLoggedIn">Login / Register</button>

              <button mat-flat-button color="primary" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
            </div>
            <ng-template #spin>
              <div class="outer-box">
                <div class="btn-box">
                    <a class="theme-btn btn-style-one login"><span class="btn-title"><mat-spinner class="spinner" color="accent" [diameter]="25"></mat-spinner></span></a>
                </div>
              </div>
            </ng-template>
          </ul>

      </div>


    </header>
    <!--mobile view-->
    <!--End Main Header -->

    <!-- Banner Section -->
      <section class="banner-section">

          <div class="banner-carousel  owl-theme">
              <!-- Slide Item -->
              <div class="slide-item" style="background-image: url(../../../assets/images/b2.jpg);">
                  <div class="auto-container">
                      <div class="landing-text">
                          <h4 class="title" style="color: #faac1D;margin-left: 5%">March 19 , 20 - 2021</h4>
                          <h2><img src="../../../assets/images/main-logo1.png" alt="" height="800" width="800"></h2>
                          <ul class="info-list">
                              <!-- <li><span class="icon fa fa-chair"></span> 5000 Seats</li>
                              <li><span class="icon fa fa-user-alt"></span> 12 SPEAKERS</li> -->
                              <!-- <li><span class="icon fa fa-map-marker-alt"></span> KLEF , Vijayawada</li> -->
                          </ul>
                          <div class="btn-box"><a class="theme-btn btn-style-two" routerLink="/validate-user"><span class="btn-title">Register</span></a></div>
                      </div>
                  </div>
              </div>

              <!-- Slide Item -->

          </div>
      </section>
      <!--End Banner Section -->
    <app-about></app-about>
    <app-samyak-theme></app-samyak-theme> <br>
    <!-- <app-samyak-sponsors></app-samyak-sponsors> -->
    <app-samyak-contact></app-samyak-contact>
    <app-footer></app-footer>
</div>
