<div class="page-wrapper">

    <header class="main-header header-style-two alternate-two">
    	<div class="header-top-two">
        	<div class="auto-container">
            	<div class="clearfix">
                    <!--Top Left-->
                    <div class="top-left clearfix">
                    	<ul class="links clearfix">
                        	<li><a href="#"><span class="icon fa fa-phone"></span>Call : {{phoneNumber}}</a></li>
                          <li><a href="#"><span class="icon fa fa-envelope"></span>{{emialId}}</a></li>
                        </ul>
                    </div>
                    <!--Top Right-->
                    <div class="top-right clearfix">
                    	<ul class="social-icons">
                            <li *ngFor="let item of socialMedia">
                                  <a>
                                <span [class]="item.icon"></span>
                                 </a>
                            </li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-box">
            <div class="auto-container clearfix">
                <div class="logo-box">
                    <div class="logo"><a><img [src]="samyakLogo" alt="" title="" height="220" width="220"></a></div>
                </div>
                <!--Nav Box-->
                <div class="nav-outer clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="navbar-header">
                            <!-- Togg le Button -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon flaticon-menu-button"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li><a>Home</a></li>
                                <li><a routerLink="/about-samyak">About</a></li>
                                <li class="dropdown"><a>Events</a>
                                    <ul>
                                        <li class="dropdown" *ngFor="let item of navbarEvents">
                                          <a (click)="toEvent(item.type , 'all')">{{item.type}}</a>
                                            <ul *ngIf="item.departments">
                                                <li *ngFor="let dep of item.departments"><a (click)="toEvent(item.type , dep)">{{dep}}</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a>Tech Talks</a></li>
                                <li><a>Team</a></li>
                                <li><a>My Account</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                    <!-- Outer box -->
                    <div class="outer-box">
                        <div class="btn-box" routerLink="/login" *ngIf="!isLoggedin">
                            <a class="theme-btn btn-style-one login" style="color: #fff"><span class="btn-title">Register or Login</span></a>
                        </div>
                        <div class="btn-box" *ngIf="isLoggedin">
                            <a class="theme-btn btn-style-one login" style="color: #fff"><span class="btn-title" (click)="logout()">Logout</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img [src]="samyakLogo" alt="" title=""></a></div>
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
            </nav>
        </div><!-- End Mobile Menu -->
    </header>
    <!--End Main Header -->

    <!-- Banner Section -->
      <section class="banner-section">
          <div class="banner-carousel  owl-theme">
              <!-- Slide Item -->
              <div class="slide-item" style="background-image: url(https://images.unsplash.com/photo-1593642533144-3d62aa4783ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
                  <div class="auto-container">
                      <div class="landing-text">
                          <h4 class="title" style="color: #faac1D;">January 20, 2020</h4>
                          <h2> {{title}} <br>Conference 2020</h2>
                          <ul class="info-list">
                              <li><span class="icon fa fa-chair"></span> 5000 Seats</li>
                              <li><span class="icon fa fa-user-alt"></span> 12 SPEAKERS</li>
                              <li><span class="icon fa fa-map-marker-alt"></span> Palo, California</li>
                          </ul>
                          <div class="btn-box"><a class="theme-btn btn-style-two" routerLink="/validate-user"><span class="btn-title">Book Now</span></a></div>
                      </div>
                  </div>
              </div>

              <!-- Slide Item -->

          </div>
      </section>
      <!--End Banner Section -->
    <app-about></app-about>
    <app-samyak-theme></app-samyak-theme>
    <app-samyak-sponsors></app-samyak-sponsors>
    <app-samyak-contact></app-samyak-contact>
    <app-footer></app-footer>
</div>
