<app-navbar></app-navbar>
<section class="speakers-section" style="background-image: url(images/background/6.jpg);">
        <div class="auto-container">
        <div class="sec-title light text-center">
            <!-- <span class="title" style="background-color: black;">Speakers</span> -->
            <h2>Judges</h2>
        </div>
<div class="row">
                <!-- Speaker Block -->
                <div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="https://yuvagalam.com/"><img src="../../../assets/images/Yuvagalam.jpg" alt=""></a></figure>
                        </div>
                        <div class="info-box">
                            <div class="inner">
                                <h4 class="name"><a href="https://yuvagalam.com/">Naga Sravan Kilaru</a></h4>
                                <span class="designation">National Youth Awarde and Founder Yuva Galam</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="https://www.linkedin.com/in/krishna-shetty-550325121/"><img src="../../../assets/images/KrishnaShetty.jpg" alt=""></a></figure>
                        </div>
                        <div class="info-box">
                            <div class="inner">
                                <h4 class="name"><a href="https://www.linkedin.com/in/krishna-shetty-550325121/">Krishna Shetty</a></h4>
                                <span class="designation">Founder & Creative Director at iMAD Creative Brains</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- End Speakers Section -->
    <app-footer></app-footer>