<app-navbar></app-navbar>


<body class="login-page">
  <main class="main_class">

    <form class="sign-in example-form" [formGroup]="loginForm" novalidate>
      <div class="login-block">
        <h1 class="login_title">Samyak</h1>
        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput id="email"  formControlName="email" placeholder="Samyak@gmail.com">

          <mat-error *ngIf="loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">
            Invalid Email
          </mat-error>
          <mat-error *ngIf="loginForm.controls.email.hasError('required') && !loginForm.controls.email.valid">
            Email is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput id="password" placeholder="Password" formControlName="password" [type]="hide ? 'password':'text'" />
          <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;color: #092041 !important;">
            {{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
          <mat-error *ngIf="loginForm.controls.password.hasError('required') && !loginForm.controls.password.valid">
            Password is required
          </mat-error>
        </mat-form-field>
        <!--submit button-->
        <button mat-raised-button color="primary" class="mat-raised-button mat-primary submit" [disabled]="!loginForm.valid" type="submit" (click)="login()">Login</button>
        <div class="links_section">
          <span class="new_acc" routerLink="/register">
            Create an account
          </span>
          <span class="forgot_password" routerLink="/forgotpassword">
            Forgot Password
          </span>
        </div>
      </div>
    </form>
    <h3 class="msg" *ngIf="msg">{{msg}}</h3>
  </main>
</body>
