<mat-progress-bar mode="indeterminate" *ngIf="isLoad"></mat-progress-bar>

<body class="login-page" [ngStyle]="{ 'background-image' : 'url(' + bgImg +')' , 'background-position' : 'left' , 'background-repeat' : 'no-repeat'}">
  <main class="main_class">

    <form class="sign-in example-form" [formGroup]="loginForm" novalidate>
      <div class="login-block">
        <img [src]="logo" alt="" height="80" width="80">
        <h1 class="login_title">Samyak Login</h1>

        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" class="email" id="email"  formControlName="email" placeholder="Samyak@gmail.com">
          <mat-error *ngIf="loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">
            Invalid Email
          </mat-error>
          <mat-error *ngIf="loginForm.controls.email.hasError('required') && !loginForm.controls.email.valid">
            Email is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput class="password" id="password" placeholder="Password" formControlName="password" [type]="hide ? 'password':'text'" />
          <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;color: #092041 !important;">
            {{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
          <mat-error *ngIf="loginForm.controls.password.hasError('required') && !loginForm.controls.password.valid">
            Password is required
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="mat-raised-button mat-primary submit" type="submit" [disabled]="!loginForm.valid" type="submit" (click)="login()">Login</button>
        <div class="links_section">
          <span class="new_acc" routerLink="/register">
            Create an account
          </span>
          <span class="forgot_password" routerLink="/forgotpassword">
            Forgot Password
          </span>
        </div>
      </div>
    </form>
    <br>
    <h3 class="msg" *ngIf="msg">{{msg}}</h3>
    <h2 *ngIf="isPostReg" class="msg">check your email for the verification link</h2>
  </main>
</body>
