<section class="video-section" style="background-image: url(images/background/1.jpg);">
       <div class="auto-container">
           <div class="content-box">
               <div class="text">REWIND SAMYAK~2K19</div>
               <h2>We don't realize, we are making memories <br> we just knew we are enjoying the present moment.</h2>
               <a href="https://www.youtube.com/embed/Qb8Xm6KllJI" class="play-now" data-fancybox="gallery" data-caption=""><i class="icon flaticon-play-button-3" aria-hidden="true"></i><span class="ripple"></span></a>
           </div>
       </div>
   </section>
