<!-- Fluid Section One -->
    <section class="fluid-section-one">
        <div class="outer-box clearfix">

            <!-- Content Column -->
            <div class="content-column">
                <div class="shape-layers">
                    <div class="shape-2"></div>
                    <div class="shape-1"></div>
                </div>
                <div class="inner-column">
                    <h3>Modern Marketing <br>Summit Sydney 2018</h3>
                    <div class="text">Dolor sit amet consectetur elit sed do eiusmod tempor incd idunt labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat</div>
                    <div class="btn-box"><a href="buy-ticket.html" class="theme-btn btn-style-four"><span class="btn-title">Buy Ticket</span></a></div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column" style="background-image: url(images/resource//image-1.jpg);">
                <div class="image-box">
                    <figure class="image"><img src="images/resource/image-1.jpg" alt=""></figure>
                </div>
            </div>
        </div>
    </section>



    
