<app-navbar></app-navbar>
<!--Clients Section-->
<section class="clients-section">
    <!-- <div class="anim-icons">
        <span class="icon icon-dots-3 wow zoomIn"></span>
        <span class="icon icon-circle-blue wow zoomIn"></span>
    </div> -->
    <div class="auto-container">
        <div class="sec-title">
            <span class="title">Samyak 2021</span>
            <h2>Technical Partners</h2>
        </div>

        <div class="sponsors-outer">
            <a href="https://drive.google.com/file/d/1uWh1t6mqT127Gsj4OyYe6hXwi6vkOIu8/view?usp=sharing" class="float"><img src="../../../assets/images/SponsorUs.png"  height="100%"></a>
            <!-- <h3>Platinum Sponsors</h3> -->
            <div class="row" style="display: flex; justify-content: space-evenly; margin-left: 3%; margin-right: 3%;">
                <!-- Client Block -->

                <div class="client-block col-lg-3 col-md-8 col-sm-12"   *ngFor="let item of support">
                    <figure class="image-box" (click)="link(item.link)"><a><img [src]="item.img" alt=""></a></figure>
                </div>

            </div>
        </div>

        

    </div>
</section>
<!-- <section class="clients-section">
     <div class="anim-icons">
        <span class="icon icon-dots-3 wow zoomIn"></span>
        <span class="icon icon-circle-blue wow zoomIn"></span>
    </div>
    <div class="auto-container">
        <div class="sec-title">
            <span class="title">Samyak 2021</span>
            <h2>Technical Support</h2>
        </div>

        <div class="sponsors-outer">
            <div class="row" style="display: flex; justify-content: space-around;">
                Client Block
                <div class="client-block " *ngFor="let item of support">
                    <figure class="" (click)="link(item.link)"><a><img [src]="item.img" alt=""></a></figure>
                </div>

            </div>
        </div>

        

    </div>
</section> -->
<!--End Clients Section-->

<!-- News Section -->
   <!-- <section class="news-section">
       <div class="anim-icons">
           <span class="icon icon-circle-blue wow fadeIn"></span>
           <span class="icon twist-line-1 wow zoomIn"></span>
           <span class="icon twist-line-2 wow zoomIn"></span>
           <span class="icon twist-line-3 wow zoomIn"></span>
       </div>
       <div class="auto-container"> -->
           <!-- <div class="sec-title text-center">
               <span class="title">Blogs</span>
               <h2>Latest News</h2>
           </div> -->

           <!-- <div class="row"> -->
               <!-- News Block Three -->
               <!-- <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInRight" *ngFor="let item of techtalks">
                   <div class="inner-box">
                       <div class="image-box" *ngIf="item.image; else noimg">
                           <figure class="image"><a href="blog-single.html"><img [src]="item.image" alt=""></a></figure>
                       </div>
                       <ng-template #noimg>
                         <div class="image-box">
                             <figure class="image"><a><img src="../../../assets/ui-images/defaulteve.jpg" alt=""></a></figure>
                         </div>
                       </ng-template>
                       <div class="lower-content">
                           <ul class="post-info">
                               <li><span class="far fa-user"></span>{{item.speaker}}</li>
                           </ul>
                           <h4><a href="blog-single.html">{{item.title}}</a></h4>
                           <div class="btn-box"><a class="read-more" (click)="readMore(item)">Read More</a></div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section> -->
   <!--End News Section -->
   <app-footer></app-footer>