.main{
  margin-top: 4%;
}

.sign-in{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.example-full-width-one{
  width: 30%;
  margin-bottom: 2%;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
