.body{
  overflow: hidden;
}

.main{
  margin-top: 4%;

}
.personal-container{
  align-items: center;
  margin-right: 70px;
  display: flex;
  flex-wrap: wrap;
}

.personal-container-left{
  float: left;
  width: 990px;
  margin-left: 300px;

}
.professional-container-left{
  float: left;
  width: 990px;
  margin-left: 300px;

}

.sign-in{
  justify-content: space-around;
  flex-wrap: wrap;
}

.example-full-width-one{
  width: 30%;
  margin-bottom: 2%;
  margin-left: 19px;
}


.fieldset-s-branch{
  border: 1px solid #999;
  border-radius: 8px;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

legend{
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.example-full-width-one input{
  width: 50px;
  color: #000;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

mat-label{
  font-size: 17px;
}

.bg{
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position: right;
}

.msg{
  text-align: center;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  color: #c12122;
}


@media (max-width:900px){
  .main{
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 786px){
  .personal-container-left{
margin-left: 52px;
  }
  .professional-container-left{
    margin-left: 52px;
  }
  .example-full-width-one{
    margin-right: 100px;
    width: 55%;
  }
  .personal-container{
    width: 642px; 
  }
}