<app-navbar></app-navbar>

<body class="login-page">
  <main class="main_class">
    <form class="sign-in example-form" [formGroup]="forgotPasswordForm" novalidate>
      <div class="login-block">
        <h1 class="login_title">Forgot Password</h1>
        <mat-form-field class="example-full-width-one" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput id="email"  formControlName="email" placeholder="Samyak@gmail.com">
        </mat-form-field>

          <button mat-raised-button color="primary" class="mat-raised-button mat-primary submit" [disabled]="!forgotPasswordForm.valid" type="submit" (click)="submit()">Reset Password</button>
          <div class="links_section">
            <span class="new_acc" routerLink="/login">
              Back to login
            </span>
            <span class="forgot_password" routerLink="/register">
              Create an account
            </span>
          </div>
      </div>
    </form>
  </main>
</body>
