
<body>
<section class="portfolio_area sec_pad">
            <div class="container">
                <div class="sec_title text-center">
                    <h2 class="s_section_title">Our Events</h2>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3">
                        <ul class="list-unstyled gallery_filter">
                            <li class = "" id = "1" data-filter=".design" onClick= fun()>All Events</li>
                            <li class = "" data-filter=".market" onClick = fun()>CSE</li>
                            <li class = "" data-filter=".develop" onClick = fun()>ECE</li>
                            <li  class = "" data-filter=".br" onClick = fun()>MEC</li>
                            <li>Civil</li>
                        </ul>

                    </div>
                    <div class="col-lg-10 col-md-9">
                        <div id="gallery" class="row gallery_inner" style="position: relative; height: 906.225px;">
                            <div class="col-lg-4 col-sm-6 gallery_item design" style="position: absolute; left: 0%; top: 0px;">
                                <div class="gallery_post">
                                    <div class="img"><img src="./Wavee_files/case_pr_one.jpg" alt=""></div>
                                    <div class="gallery_text_info">
                                        <div class="gallery_content">
                                            <a href="#">
                                                <h3>Artboard Focus</h3>
                                            </a>
                                            <a href="#" class="g_tag">Design</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 gallery_item br market" style="position: absolute; left: 33.2632%; top: 0px;">
                                <div class="gallery_post">
                                    <div class="img"><img src="./Wavee_files/case_pr_two.jpg" alt=""></div>
                                    <div class="gallery_text_info">
                                        <div class="gallery_content">
                                            <a href="#">
                                                <h3>Jonas Blue Alerm</h3>
                                            </a>
                                            <a href="#" class="g_tag">Development</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 gallery_item design" style="position: absolute; left: 66.6316%; top: 0px;">
                                <div class="gallery_post">
                                    <div class="img"><img src="./Wavee_files/case_pr_three.jpg" alt=""></div>
                                    <div class="gallery_text_info">
                                        <div class="gallery_content">
                                            <a href="#">
                                                <h3>Mincaup Juice</h3>
                                            </a>
                                            <a href="#" class="g_tag">Branding</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 gallery_item br market" style="position: absolute; left: 0%; top: 302px;">
                                <div class="gallery_post">
                                    <div class="img"><img src="./Wavee_files/case_pr_four.jpg" alt=""></div>
                                    <div class="gallery_text_info">
                                        <div class="gallery_content">
                                            <a href="#">
                                                <h3>Ledana Mazda</h3>
                                            </a>
                                            <a href="#" class="g_tag">Design</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 gallery_item develop br" style="position: absolute; left: 33.2632%; top: 302px;">
                                <div class="gallery_post">
                                    <div class="img"><img src="./Wavee_files/case_pr_five.jpg" alt=""></div>
                                    <div class="gallery_text_info">
                                        <div class="gallery_content">
                                            <a href="#">
                                                <h3>Roboto bluren</h3>
                                            </a>
                                            <a href="#" class="g_tag">Development</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 gallery_item market" style="position: absolute; left: 66.6316%; top: 302px;">
                                <div class="gallery_post">
                                    <div class="img"><img src="./Wavee_files/case_pr_six.jpg" alt=""></div>
                                    <div class="gallery_text_info">
                                        <div class="gallery_content">
                                            <a href="#">
                                                <h3>Under waterden</h3>
                                            </a>
                                            <a href="#" class="g_tag">Branding</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 gallery_item design" style="position: absolute; left: 0%; top: 604px;">
                                <div class="gallery_post">
                                    <div class="img"><img src="./Wavee_files/case_pr_seven.jpg" alt=""></div>
                                    <div class="gallery_text_info">
                                        <div class="gallery_content">
                                            <a href="#">
                                                <h3>Dignissimos wisi</h3>
                                            </a>
                                            <a href="#" class="g_tag">Design</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 gallery_item br market" style="position: absolute; left: 33.2632%; top: 604px;">
                                <div class="gallery_post">
                                    <div class="img"><img src="./Wavee_files/case_pr_eight.jpg" alt=""></div>
                                    <div class="gallery_text_info">
                                        <div class="gallery_content">
                                            <a href="#">
                                                <h3>Kildren Parpest</h3>
                                            </a>
                                            <a href="#" class="g_tag">Marketing</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 gallery_item br" style="position: absolute; left: 66.6316%; top: 604px;">
                                <div class="gallery_post">
                                    <div class="img"><img src="./Wavee_files/case_pr_nine.jpg" alt=""></div>
                                    <div class="gallery_text_info">
                                        <div class="gallery_content">
                                            <a href="#">
                                                <h3>Giminy Braveran</h3>
                                            </a>
                                            <a href="#" class="g_tag">Branding</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
function fun(){
    var sunil = document.getElementById('1');
    sunil.className = "active";
}

        </script>
    </body>