
*,
::after,
::before {
	box-sizing: border-box
}
.sunil{
	float: right;
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}

.portfolio_area .row {
    margin-bottom: -15px;
  }
  .sec_pad {
    padding: 100px 0px;
  }
  .text-center {
	text-align: center!important
}

  .col-lg-2 .col-md-3{
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px
  }

  @media (min-width:992px){
 .col-lg-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%
}
}

@media (min-width:768px) {
.col-md-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%
}
.list-unstyled{
			margin-top: 60px;
}

}
@media (max-width:767px){
	.gallery_filter{
		text-align: center;
		display: block;
	}
	.gallery_filter li{
		display: inline-block;
	}
	.gallery_filter li + li{
		margin-left: 10px;
	}
}
@media (max-width:576px){
	.gallery_filter li{
        margin-bottom: 3px;
    }
    .gallery_filter{
        margin-bottom: 35px;
    }

}



  
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:576px) {
	.container {
		max-width: 540px
	}
}

@media (min-width:768px) {
	.container {
		max-width: 720px
	}
}

@media (min-width:992px) {
	.container {
		max-width: 960px
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 1140px
	}
}

.row{
	
	margin-bottom: -15px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}

.gallery_filter li {
	font-size: 16px;
	color: #777777;
	transition: color 0.3s linear;
	cursor: pointer;
	margin-bottom: 22px;
  }
  .gallery_filter li.active {
	font-weight: 600;
	color: #7a51ed;
  }
  .gallery_filter li:hover {
	color: #7a51ed;
  }

/* card css */
h4 {
	font-family: lato;
	font-weight: 700;
  }
  
  .card-wrapper {
	padding: 0 15px;
  }
  
  .card {
	max-width: 321px;
	height: 412px;
	background: #ffffff;
	margin: 50px auto;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	position: relative;
	overflow: hidden;
  }
	.image-wrapper {
	  height: 70%;
	  width: 100%;
	  overflow: hidden;
	  transition: height 100ms ease-out;
	
	}
	.content-wrapper {
		padding-top: 3px;
		margin-left: 36px;
	}
	  .price {
		margin: 10px 0;
		font-weight: 300;
	  }
	  
	  .actions {
		position: absolute;
		bottom: 0px;
		left: 0;
		padding: 10px;
		width: 100%;
		background: #fff;
	  }
		.button {
		  width: 48%;
		  margin: 0 1% 0 1%;
		  float: left;
		}
	  
	
  
  
  
  
  .button {
	padding: 10px 15px;
	border: none;
	background: none;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	transition: all 100ms linear;
	
	
	}
		.green-solid {
		border: solid 2px #95AB63;
		color: #fff;
		background: #95AB63;
		}
			.green-solid:hover {
			background: #BDD684;
			border: solid 2px #BDD684;
		}
	
	.backside {
	  display: none;
	}
	 .backside .show {
		display: inline-block;
		transform: rotateX(180deg);
	  }
	
	.front.hide {
	  display: none;
	}
	.black-simple {
	  border: solid 2px #10222B;
	}
	  .back-simple:hover {
	   background: #10222B;
	   color: #fff; 
	  }
	

  
  .image {
	max-width: 100%;
	height: auto;
  }
  
  /* // Media Queries */
  
  @media (max-width: 768px) {
	.card .image-wrapper {
	height: 55%;  
	}
   .card .content-wrapper .actions .button {
	  width: 100%;
	  float: none;
	  margin: 0 0 2% 0;
	}
  }
  @media (min-width: 1200px){
	  .card{
		 margin-left: 0px;
	  }
  }