
*,
::after,
::before {
	box-sizing: border-box
}
.sunil{
	float: right;
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}

.portfolio_area .row {
    margin-bottom: -15px;
  }
  .sec_pad {
    padding: 100px 0px;
  }
  .text-center {
	text-align: center!important
}

  .col-lg-2 .col-md-3{
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px
  }

  @media (min-width:992px){
 .col-lg-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%
}
}

@media (min-width:768px) {
.col-md-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 18%
}
.list-unstyled{
			margin-top: 60px;
}

}
@media (max-width:767px){
	.gallery_filter{
		text-align: center;
		display: block;
	}
	.gallery_filter li{
		display: inline-block;
	}
	.gallery_filter li + li{
		margin-left: 10px;
	}
}
@media (max-width:576px){
	.gallery_filter li{
        margin-bottom: 3px;
    }
    .gallery_filter{
        margin-bottom: 35px;
    }

}



  
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:576px) {
	.container {
		max-width: 540px
	}
}

@media (min-width:768px) {
	.container {
		max-width: 720px
	}
}

@media (min-width:992px) {
	.container {
		max-width: 960px
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 1140px
	}
}

.row{
	
	margin-bottom: -15px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}

.gallery_filter li {
	font-size: 16px;
	color: #777777;
	transition: color 0.3s linear;
	cursor: pointer;
	margin-bottom: 22px;
  }
  .gallery_filter li.active {
	font-weight: 600;
	color: #7a51ed;
  }
  .gallery_filter li:hover {
	color: #7a51ed;
  }

/* card css */
h4 {
	font-family: lato;
	font-weight: 700;
  }
  
  .card-wrapper {
	padding: 0 15px;
  }
  
  .card {
	max-width: 321px;
	height: 412px;
	background: #ffffff;
	margin: 50px auto;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	position: relative;
	overflow: hidden;
  }
	.image-wrapper {
	  height: 70%;
	  width: 100%;
	  overflow: hidden;
	  transition: height 100ms ease-out;
	
	}
	.content-wrapper {
		padding-top: 3px;
		margin-left: 36px;
	}
	  
	  
	
  
  
  
  
  .button {
	padding: 10px 15px;
	border: none;
	background: none;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	transition: all 100ms linear;
	
	
	}


	.gallery_post {
		cursor: pointer;
	  }
	  .gallery_post .img {
		overflow: hidden;
	  }
	  .gallery_post img {
		width: 100%;
		transition: all 0.9s linear;
	  }
	
	
	.gallery_post .gallery_text_info {
		padding-left: 20px;
		padding-right: 20px;
		margin-top: -38px;
		position: relative;
		z-index: 0;
	  }

	  .gallery_post .gallery_text_info .gallery_content {
		background-color: white;
		box-shadow: 0px 10px 30px 0px rgba(83, 59, 59, 0.08);
	  }
	  .gallery_content:hover{
		  background-color: blue;
	  }
	  .gallery_post .gallery_text_info .gallery_content:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: -moz-linear-gradient(140deg, rgba(73, 49, 230, 0.9) 0%, #7a51ed 100%);
		background-image: -webkit-linear-gradient(140deg, rgba(73, 49, 230, 0.9) 0%, #7a51ed 100%);
		background-image: -ms-linear-gradient(140deg, rgba(73, 49, 230, 0.9) 0%, #7a51ed 100%);
		z-index: -1;
		opacity: 0;
		transition: opacity 0.3s linear;
	  }
	  .gallery_post:hover img {
		transform: scale(1.1);
	  }
	  .gallery_post:hover .gallery_content:before {
		opacity: 1;
	  }
	  .gallery_post:hover .gallery_content h3, .gallery_post:hover .gallery_content .g_tag {
		color:#7a51ed;
	  }
	  .gallery_content:before {
		opacity: 1;
	  }
	  .gallery_content {
		padding: 18px 30px;
		position: relative;
		z-index: 1;
	  }
	  .gallery_content h3 {
		font-size: 20px;
		font-weight: 600;
		color: #000;
		margin-bottom: 0px;
		transition: color 0.3s linear;
	  }
	  .gallery_content .g_tag {
		color: #777;
		font-size: 14px;
		transition: color 0.3s linear;
	  }
	 .gallery_post .gallery_content {
		padding: 26px 0px 0px;
	  }
	  .gallery_post .gallery_content:hover{
		color:#7a51ed 
	  }
	  .gallery_post .gallery_content h3 {
		color: #101010;
	  }
	  /* .gallery_post .gallery_content h3:hover {
		color: #7a51ed;
	  } */
	   /* .gallery_post .gallery_content .g_tag {
		color: #777;
	  } */
	  .gallery_post .gallery_content .g_tag:hover {
		color: #7a51ed;
	  }

  
  .image {
	max-width: 100%;
	height: auto;
  }
  
  /* // Media Queries */
  
  @media (max-width: 768px) {
	.card .image-wrapper {
	height: 55%;  
	}
	.sunil{
		width: 100%;
	}
   .cards .content-wrapper .actions .button {
	  width: 100%;
	  float: none;
	  margin: 0 0 2% 0;
	}
  }
  @media (min-width: 1200px){
	  .cards{
		 margin-left: 0px;
	  }
  }

  @media (max-width:991px){
	.gallery_content h3{
        font-size: 17px;
    }
    .gallery_content .g_tag{
        font-size: 13px;
    }
	.gallery_post .gallery_text_info .gallery_content,.gallery_post .gallery_text_info{
        padding-left: 15px;
        padding-right: 15px;
    }
  }
  @media (max-width:576px){
	.gallery_post .gallery_text_info .gallery_content, .gallery_post .gallery_text_info{
        padding-left: 30px;
        padding-right: 30px;
    }
  }
  @media (max-width: 1199px){
	.gallery_inner_two .gallery_post_two .img img,.gallery_inner_three .gallery_item img,.portfolio_info_slider .portfolio_img img{
        max-width: 100%;
    }

  }