<section class="portfolio_area sec_pad">
            <div class="container">
                <div class="sec_title text-center">
                    <h2 class="s_section_title">Our Projects</h2>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3">
                        <ul class="list-unstyled gallery_filter">
                            <li class="active" data-filter="*">All Projects</li>
                            <li data-filter=".design">Design</li>
                            <li data-filter=".market">Marketing</li>
                            <li data-filter=".develop">Development</li>
                            <li data-filter=".br">Branding</li>
                        </ul>
                    </div>
                <!--  start  --><div class = "sunil">
                
  <div class="card">
  <div class="image-wrapper">
    <img src="https://40.media.tumblr.com/2a46a0ec64f5d1c0dcc8814baf9833f4/tumblr_nj930lpXGB1qif4c6o1_1280.jpg" alt="" class="image" />
  </div>
  <div class="content-wrapper">
    <div class="title">
      <h4>Folk-tastic Pennant</h4>
    </div>
    <div class="price">
      $19.99
    </div>
    
    <div class="actions">
      <button id="cart" class="button flip green-solid cart">
        <span class="front">Add to Cart</span>
        <span class="backside">Added</span>
      </button>
      <button class="button black-simple more">More Details</button>
    </div>
  </div>
</div>



  <div class="card">
  <div class="image-wrapper">
    <img src="https://40.media.tumblr.com/2a46a0ec64f5d1c0dcc8814baf9833f4/tumblr_nj930lpXGB1qif4c6o1_1280.jpg" alt="" class="image" />
  </div>
  <div class="content-wrapper">
    <div class="title">
      <h4>Folk-tastic Pennant</h4>
    </div>
    <div class="price">
      $19.99
    </div>
    
    <div class="actions">
      <button id="cart" class="button flip green-solid cart">
        <span class="front">Add to Cart</span>
        <span class="backside">Added</span>
      </button>
      <button class="button black-simple more">More Details</button>
    </div>
  </div>
</div>







  <div class="card">
  <div class="image-wrapper">
    <img src="https://40.media.tumblr.com/2a46a0ec64f5d1c0dcc8814baf9833f4/tumblr_nj930lpXGB1qif4c6o1_1280.jpg" alt="" class="image" />
  </div>
  <div class="content-wrapper">
    <div class="title">
      <h4>Folk-tastic Pennant</h4>
    </div>
    <div class="price">
      $19.99
    </div>
    
    <div class="actions">
      <button id="cart" class="button flip green-solid cart">
        <span class="front">Add to Cart</span>
        <span class="backside">Added</span>
      </button>
      <button class="button black-simple more">More Details</button>
    </div>
  </div>
</div>








  <div class="card">
  <div class="image-wrapper">
    <img src="https://40.media.tumblr.com/2a46a0ec64f5d1c0dcc8814baf9833f4/tumblr_nj930lpXGB1qif4c6o1_1280.jpg" alt="" class="image" />
  </div>
  <div class="content-wrapper">
    <div class="title">
      <h4>Folk-tastic Pennant</h4>
    </div>
    <div class="price">
      $19.99
    </div>
    
    <div class="actions">
      <button id="cart" class="button flip green-solid cart">
        <span class="front">Add to Cart</span>
        <span class="backside">Added</span>
      </button>
      <button class="button black-simple more">More Details</button>
    </div>
  </div>
</div>






  <div class="card">
  <div class="image-wrapper">
    <img src="./assets/images/gallery/1.jpg" alt="" class="image" />
  </div>
  <div class="content-wrapper">
    <div class="title">
      <h4> Event details: ..........</h4>
    </div>
    <div class="price">
      $19.99
    </div>
    
    <div class="actions">
      <button id="cart" class="button flip green-solid cart">
        <span class="front">Add to Cart</span>
        <span class="backside">Added</span>
      </button>
      <button class="button black-simple more">More Details</button>
    </div>
  </div>
</div>


                </div><!-- end card-->

                </div>
                </div>
            
</section>