<app-navbar></app-navbar>
<section class="speakers-section" style="background-image: url(images/background/6.jpg);">
        <div class="auto-container">
        <div class="sec-title light text-center">
            <h2>Team Samyak</h2>
            <span class="title" style="background-color: black;">2021</span>
        </div>
        <br><br><br>
        <div class="sec-title light text-center">
            <h2>Technical Operation & Creative Design</h2>
        </div>
<div class="row">
    <div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
            <div class="image-box">
                <figure class="image"><a><img src="../../../assets/images/team.jpg" alt=""></a></figure>
            </div>
            <div class="info-box">
                <div class="inner">
                    <h4 class="name"><a>Rithvik Banka</a></h4>
                    <span class="designation">CEO</span>
                    <ul class="social-links social-icon-colored">
                        <li><a href="tel:7095083900"><i class="fa fa-phone" aria-hidden="true" style="color: black;"></i></a></li>
                        <li><a href="mailto:bankarithvik007@gmail.com"><i class="fa fa-envelope" aria-hidden="true" style="color: black;"></i></a></li>
                        <!-- <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="sec-title light text-center">
    <h2>Technical</h2>
</div>
<div class="row">
                <!-- Speaker Block -->
        <div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
            <div class="image-box">
              <figure class="image"><a><img src="../../../assets/images/team.jpg" alt=""></a></figure>
             </div>
            <div class="info-box">
             <div class="inner">
            <h4 class="name">Praneeth</h4>
            <span class="designation">CTO</span>
            <ul class="social-links social-icon-colored">
                <li><a href="tel:8977190130"><i class="fab fa-phone"></i></a></li>
                <li><a href="mailto:praneeth.mandalemula@gmail.com"><i class="fab fa-envelope"></i></a></li>
            <!-- <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                 <li><a href="#"><i class="fab fa-dribbble"></i></a></li> -->
            </ul>
           </div>
        </div>
        </div>
    </div>
        <div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
        <div class="image-box">
            <figure class="image"><a><img src="../../../assets/images/team.jpg" alt=""></a></figure>
        </div>
        <div class="info-box">
            <div class="inner">
                 <h4 class="name"><a>Bhaskar Praveen Naidu</a></h4>
                 <span class="designation">CTO</span>
                 <ul class="social-links social-icon-colored">
                     <li><a href="tel:8464877285"><i class="fab fa-phone"></i></a></li>
                     <li><a href="mailto:praveennaidu264@gmail.com"><i class="fab fa-envelope"></i></a></li>
                     <!-- <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                     <li><a href="#"><i class="fab fa-dribbble"></i></a></li> -->
                </ul>
            </div>
          </div>
      </div>
    </div>
</div>
<div class="row">
    <!-- Speaker Block -->
<div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
<div class="inner-box">
<div class="image-box">
  <figure class="image"><a><img src="../../../assets/images/team.jpg" alt=""></a></figure>
 </div>
<div class="info-box">
 <div class="inner">
<h4 class="name">K CHARAN KUMAR REDDY</h4>
<span class="designation">Director</span>
<ul class="social-links social-icon-colored">
    <li><a href="tel: 7995689305"><i class="icon fa fa-phone"></i></a></li>
    <li><a href="mailto: kckreddy2000@gmail.com"><i class="icon fa fa-envelope"></i></a></li>
<!-- <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
     <li><a href="#"><i class="fab fa-dribbble"></i></a></li> -->
</ul>
</div>
</div>
</div>
</div>
<div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
<div class="inner-box">
<div class="image-box">
<figure class="image"><a><img src="../../../assets/images/team.jpg" alt=""></a></figure>
</div>
<div class="info-box">
<div class="inner">
     <h4 class="name"><a>Sai Snigdha Madaraju </a></h4>
     <span class="designation">Director</span>
     <ul class="social-links social-icon-colored">
         <li><a href="tel:9848166283"><i class="icon fa fa-phone"></i></a></li>
         <li><a href="mailto:snigdha478@gmail.com"><i class="icon fa fa-envelope"></i></a></li>
         <!-- <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
         <li><a href="#"><i class="fab fa-dribbble"></i></a></li> -->
    </ul>
</div>
</div>
</div>
 </div>
</div>
<br><br>
<div class="sec-title light text-center">
    <h2>Creative Design</h2>
</div>
<div class="row">
        <div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
                <div class="image-box">
                    <figure class="image"><a href="speakers-detail.html"><img src="../../../assets/images/team.jpg" alt=""></a></figure>
                </div>
            <div class="info-box">
               <div class="inner">
                    <h4 class="name"><a href="speakers-detail.html">Dale Marke</a></h4>
                        <span class="designation">Event Manager</span>
                       <ul class="social-links social-icon-colored">
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                         <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                       </ul>
                </div>
             </div>
            </div>
           </div>
           <div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="speakers-detail.html"><img src="../../../assets/images/team.jpg" alt=""></a></figure>
                        </div>
                        <div class="info-box">
                            <div class="inner">
                                <h4 class="name"><a href="speakers-detail.html">Dale Marke</a></h4>
                                <span class="designation">Event Manager</span>
                                <ul class="social-links social-icon-colored">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="speakers-detail.html"><img src="../../../assets/images/team.jpg" alt=""></a></figure>
                        </div>
                        <div class="info-box">
                            <div class="inner">
                                <h4 class="name"><a href="speakers-detail.html">Dale Marke</a></h4>
                                <span class="designation">Event Manager</span>
                                <ul class="social-links social-icon-colored">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="sec-title light text-center">
                <h2>Operation</h2>
            </div>
            <div class="row">
                <div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a><img src="../../../assets/images/team.jpg" alt=""></a></figure>
                        </div>
                        <div class="info-box">
                            <div class="inner">
                                <h4 class="name"><a>Rithvik Banka</a></h4>
                                <span class="designation">CEO</span>
                                <ul class="social-links social-icon-colored">
                                    <li><a href="tel:7095083900"><i class="icon fa fa-phone"></i></a></li>
                                    <li><a href="mailto:bankarithvik007@gmail.com"><i class="icon fa fa-envelope"></i></a></li>
                                    <!-- <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
</div>
            <div class="row">
                <!-- Speaker Block -->
        <div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
            <div class="image-box">
              <figure class="image"><a><img src="../../../assets/images/team.jpg" alt=""></a></figure>
             </div>
            <div class="info-box">
             <div class="inner">
            <h4 class="name">Praneeth</h4>
            <span class="designation">CTO</span>
            <ul class="social-links social-icon-colored">
                <li><a href="tel:8977190130"><i class="icon fa fa-phone"></i></a></li>
                <li><a href="mailto:praneeth.mandalemula@gmail.com"><i class="icon fa fa-envelope"></i></a></li>
            <!-- <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                 <li><a href="#"><i class="fab fa-dribbble"></i></a></li> -->
            </ul>
           </div>
        </div>
        </div>
    </div>
        <div class="speaker-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
        <div class="image-box">
            <figure class="image"><a><img src="../../../assets/images/team.jpg" alt=""></a></figure>
        </div>
        <div class="info-box">
            <div class="inner">
                 <h4 class="name"><a>Bhaskar Praveen Naidu</a></h4>
                 <span class="designation">CTO</span>
                 <ul class="social-links social-icon-colored">
                     <li><a href="tel:8464877285"><i class="icon fa fa-phone"></i></a></li>
                     <li><a href="mailto:praveennaidu264@gmail.com"><i class="icon fa fa-envelope"></i></a></li>
                     <!-- <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                     <li><a href="#"><i class="fab fa-dribbble"></i></a></li> -->
                </ul>
            </div>
          </div>
      </div>
    </div>
</div>
        </div>
    </section> 
    <app-footer></app-footer>