<!-- About Section -->
    <section class="about-section-two">
        <div class="anim-icons full-width">
            <span class="icon icon-circle-blue wow fadeIn"></span>
            <span class="icon icon-dots wow fadeInleft"></span>
            <span class="icon icon-circle-1 wow zoomIn"></span>
        </div>
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="title">ABOUT SAMYAK</span>
                            <h2>Welcome to the World <br>Digital Meetup 2020</h2>
                            <div class="text">K L (Deemed to be University) is organizing the India's largest online techno management fest SAMYAK~2020. SAMYAK is one of the biggest National Level Techno-Management fests in Andhra Pradesh with a flow of over 30,000 students from all around the Nation, which has events designed to inspire and inform. </div>
                        </div>
                        <div class="row">
                            <div class="about-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <h4><span class="icon fa fa-map-marker-alt"></span> Where</h4>
                                    <div class="text">Virtual Event By KLEF</div>
                                </div>
                            </div>
                            <div class="about-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <h4><span class="icon fa fa-clock"></span> when</h4>
                                    <div class="text">December 23, 2020 09:00 AM</div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-box"><a class="theme-btn btn-style-three"><span class="btn-title">Register Now</span></a></div>
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="image-box">
                        <figure class="image wow fadeIn"><img src="../../../assets/images/home-about.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section -->
    <!-- Features Section Three -->
    <section class="features-section-three no-pd-top">
        <div class="auto-container">
            <div class="row">
                <!-- Feature Block -->
                <div class="feature-block-three col-lg-6 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-lecture"></span></div>
                        <h4><a href="about.html">Samyak Events</a></h4>
                        <div class="text">Although it is virtual fest, we got different sub-events</div>
                        <div class="link-box"><a class="theme-btn"><span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block-three col-lg-6 col-md-12 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-search"></span></div>
                        <h4><a href="about.html">2.	Elocution/ GUEST SPEAKERS</a></h4>
                        <div class="text">Persons from various industries speaks about their experience.</div>
                        <div class="link-box"><a href="about.html" class="theme-btn"><span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block-three col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-diamond-1"></span></div>
                        <h4><a href="about.html">AUDIENCE PROFILE</a></h4>
                        <div class="text">People from different professions visit for fest. some extra desc.</div>
                        <div class="link-box"><a href="about.html" class="theme-btn"><span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block-three col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-success"></span></div>
                        <h4><a href="about.html">NETWORKING</a></h4>
                        <div class="text">All over world participates will showcase their talents.</div>
                        <div class="link-box"><a href="about.html" class="theme-btn"><span class="fa fa-angle-right"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Features Section -->
